.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.Tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2px;
  color: #282c34;
}
.Tabs li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.5rem;
}
button.red {
  background-color: #282c34;
}
.header .red {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
}
.red:hover {
  color: #1bbc9b
}
.link:hover {
  color: #1bbc9b
}
.link {
  text-decoration: none;
}
.updatePost {
  display: flex;
}
.updatePostLink:hover {
  color: white;
  opacity: 0.8;
}
.updatePostLink, .updatePost button {
  font-size: 15px;
  padding: 0.5em;
  margin-right: 10px;
  border-radius: 0.5rem;
  background-color: #2d3e50;
  border: 1px solid blue;
  color: #d9e9e8;
  text-decoration: none;
}
header {
  background-color:  #282c34;
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  font-family: 'Anton', Monospace;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}
.vis {
  color: #1bbc9b
}
footer {
  position: fixed;
  display: flex;
  padding-top: 7px;
  justify-content: center;
  bottom: 0;
  background-color: #282c34;
  color: white;
  width: 100%;
}
.singlePostPageContainer {
  width: 100%;
  padding-top: 50px;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
}
.stockContainer {
  float: left;
  width: 45%;
}
.postContainer {
  float: right;
  width: 45%;
}
.stockContainer, .postContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #282c34;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-bottom: 80px;
}
.stockDetails, .postDetails {
  width: "100%"; 
  gap: "10%";
  text-align: "left";
}
.commentDetails {
  text-align: left;
  width: "100%";
  gap: "10%";
}
.commentDetails h2 {
  color: #1bbc9b
}
.postDetails h2 {
  color: #1bbc9b
}
.stockDetails h2 {
  color: #1bbc9b
}
.commentList {
  position: relative;
  overflow: scroll;
  /* width: 530px;
  height: 530px; */
  padding: 2px;
}
.singleComment {
  display: "flex";
  flex-Direction: "column";
  justify-Content: "left";
  font-size: "10px";
  padding: 7px;
  font-style: italic;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
} 
.pages {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.home button {
  border: 1px solid black;
}
.home button:disabled {
  background-color: #1bbc9b;
} 
footer h1 {
  font-size: 15px;
}
footer h2 {
  font-size: 15px;
}
.home {
  overflow: auto;
  padding-top: 20px;
}
.home h1 {
  color: #1bbc9b
}
.idea {
  position: sticky;
  display: flex;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  padding-top: 100px;
  background-color: white;
  width: 100%;
}
.idea h1{
  font-size: 30px;
}
.idea h2 {
  font-size: 30px;
}

.postcard {
  padding-top: 100px;
}

#results {
  padding-top: 10px;
}

.App-link {
  color: #61dafb ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
