.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.Tabs {
  /* background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* color: navy; */
  font-size: 2px;
  color: #282c34;
}
.Tabs li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.5rem;
}
button.red {
  background-color: #282c34;
}
.header .red {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
}
.red:hover {
  color: #1bbc9b
}

.link:hover {
  color: #1bbc9b
}
.link {
  text-decoration: none;
}
header {
  background-color:  #282c34;
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  font-family: 'Anton', Monospace;
  /* /* align-items: center; */
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}
.vis {
  color: #1bbc9b
}
footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color:  #282c34;
  color: white;
  width: 100%;
}
.postDetails h2 {
  color: #1bbc9b
}
footer h1 {
  font-size: 10px;
}
footer h2 {
  font-size: 10px;
}
.home h1 {
  color: #1bbc9b
}
.idea {
  position: sticky;
  display: flex;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  background-color: white;
  width: 100%;
}
.idea h1{
  font-size: 30px;
}
.idea h2 {
  font-size: 30px;
}

.App-link {
  color: #61dafb ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
